# {{ ansible_managed | comment}}
#
# Example btrbk configuration file
#
#
#
#   btrbk.conf: <https://digint.ch/btrbk/doc/btrbk.conf.5.html>
#   README.md:  <https://digint.ch/btrbk/doc/readme.html>
#
# Note that the options can be overridden per volume/subvolume/target
# in the corresponding sections.
#

# Global configuration
transaction_log           {{ btrbk_log_path }}/btrbk_transaction.log
lockfile                  /var/run/lock/btrbk.lock
backend                   {{ btrbk_global_conf_backend }}
timestamp_format          {{ btrbk_global_conf_timestamp_fmt }}
snapshot_create           {{ btrbk_global_conf_snapshot_create }}
incremental               {{ btrbk_global_conf_incremental }}
snapshot_dir              {{ btrbk_global_conf_snapshot_dir }}

# Global retention policies
preserve_day_of_week      {{ btrbk_global_conf_preserve_day_of_week }}
preserve_hour_of_day      {{ btrbk_global_conf_preserve_hour_of_day }}
snapshot_preserve         {{ btrbk_global_conf_snapshot_preserve }}
snapshot_preserve_min     {{ btrbk_global_conf_snapshot_preserve_min }}
target_preserve           {{ btrbk_global_conf_target_preserve }}
target_preserve_min       {{ btrbk_global_conf_target_preserve_min }}
archive_preserve          {{ btrbk_global_conf_archive_preserve }}
archive_preserve_min      {{ btrbk_global_conf_archive_preserve_min }}

{% if btrbk_global_conf_extra | length > 0 %}
# Global Target
{{ btrbk_global_conf_extra }}
{% endif %}

{% if btrfs_volume_conf | length > 0 %}
# Volume configuration
{{ btrfs_volume_conf }}
{% endif %}
